/*CORPO*/
body {
    background-color: #700808;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/*CABEÇALHO */
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;        
    text-align: center;
}

.foto {
    width: 12rem;
    border-radius: 35%;
    border: 5px solid #ffdd8c;       
}

#nome {
    font-size: xxx-large;
    -webkit-text-stroke: 2px #000000;;    
    color: #ffdd8c;
}



/*DADOS*/
.curriculo {
    display: flex;
    padding: 2rem;
}

.menu {
    background-color: #ff8030;
    font-weight: bold;
    font-size: 2rem;
    border: none;   
}

.conteudo {
    width: 70%;
    padding: 5rem;
    background-color: #ffdd8c;
}

/*LISTAS E LINKS*/
.dados{
    font-size: xx-large;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-text-stroke: 2px ;    
    color: #700808;
}

.link {
    color: #000000;
    text-decoration: none;
}
.link:hover {
    background-color: #ffdd8c;
}
.link:visited {
    color: #700808;
}
#idade{
    list-style-type:"👤";
}
#telefone{
    list-style-type:"📱";
}
#endereco{
    list-style-type:"🏠";
}
#E-mail{
    list-style-type:"✉️";
}
#social{
    list-style-type:"📷";
}

/*SEÇÕES*/
#sec1{
    font-size: x-large;
}
#sec2{
    font-size: x-large;
}
#sec3{
    font-size: x-large;
}
#sec4{
    font-size: x-large;
}
#sec5{
    font-size: x-large;
}
